@import '~antd/dist/antd.css';

.gray-border {
    border: 1px solid #ddd;
}

.App {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.data {
    margin: 5px;
    width: 130px;
    flex: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dimensions ul,
.measures ul {
    list-style: none;
}

.geom {
    width: 135px;
    flex: none;
    margin: 5px;
}
